/* App.module.css */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  height: 100vh;
  place-content: center;
  align-items: start;
  margin-top: 29px;
}

.viewerWrapper {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  /* /* margin-bottom: 2px; */
}

.noteWrapper {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
}

.pdfViewerContainer {
  position: relative; /* 作为滚动条容器的定位参考 */
  width: 100%;
  height: 100vh;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */

  /* overflow: hidden; */
  overflow: visible !important;
  /* z-index: 0; */
}

.scrollbarContainer {
  position: absolute;
  width: 15px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(240, 240, 240, 0); /* 半透明背景 */
  z-index: 10; /* 确保滚动条浮在 PDF 上面 */
  pointer-events: none; /* 不阻挡用户操作默认滚动条 */
}

.scrollbar {
  position: absolute;
  width: 100%;
  height: 100%;
}

.marker {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: green;
  border-radius: 2px;
  transform: translateY(-50%);
}

/* styles.css */
.highlight-area {
  position: relative;
}

.quotePopup {
  position: absolute;
  top: -30px;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  display: none; /* 默认隐藏 */
  white-space: nowrap;
  z-index: 20;
  transition: opacity 0.2s ease-in-out; /* 添加过渡效果 */
}

.highlight-area:hover .quotePopup {
  display: block; /* 显示弹窗 */
}
